In [19]:
import pandas as pd

f500 = pd.read_csv('datasets/f500.csv', index_col=0)
f500.index.name = None

In [20]:
f500_head = f500.head()

In [21]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [22]:
rank_change = f500['previous_rank'] - f500['rank']
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

In [23]:
rank = f500['rank']
rank_desc = rank.describe()

prev_rank = f500['previous_rank']
prev_rank_desc = prev_rank.describe()

print(prev_rank_desc)

count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

In [24]:
zero_previous_rank = f500['previous_rank'].value_counts().loc[0]

In [25]:
max_f500 = f500.select_dtypes(include='number').max()
max_f500

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [26]:
f500_desc = f500.describe()
f500_desc

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [27]:
print(f500.loc['Dow Chemical', 'ceo'])
f500.loc['Dow Chemical', 'ceo'] = 'Jim Fitterling'
print(f500.loc['Dow Chemical', 'ceo'])

Andrew N. Liveris
Jim Fitterling

In [29]:
motor_bool = f500['industry'] == 'Motor Vehicles and Parts'
motor_country = f500.loc[motor_bool, 'country']
motor_country

Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

In [30]:
import numpy as np
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan

prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()

In [31]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']

rank_change_desc = f500['rank_change'].describe()

f500['rank_change'].min()

-199.0

In [35]:
industry_usa = f500.loc[f500['country'] == 'USA', 'industry'].value_counts().head(2)
industry_usa

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

In [36]:
sector_china = f500.loc[f500['country'] == 'China', 'sector'].value_counts().head(3)
sector_china

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64